.admin-menu{
    background-color: white;
    border-radius: 15px;
}

.admin-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.single-card{
    background-color: white;
    border-radius: 30px;
    display: block;
}